0x17-doubly_linked_lists/lists.h
0x17-doubly_linked_lists/a
0x17-doubly_linked_lists/0-main.c
0x17-doubly_linked_lists/b
0x17-doubly_linked_lists/1-main.c
0x17-doubly_linked_lists/c
0x17-doubly_linked_lists/2-main.c
0x17-doubly_linked_lists/d
0x17-doubly_linked_lists/3-main.c
0x17-doubly_linked_lists/e
0x17-doubly_linked_lists/h
.gitignore
0x17-doubly_linked_lists/5-main.c
0x17-doubly_linked_lists/4-main.c
